{% extends 'base.html' %} {% block content %}
<!-- Page specific content -->
<h1>Werdegang und Kompetenzen</h1>
<section>
  <h2>Die Anfänge | 1996 - 2002</h2>
  <p>
    Mit dem letzten EFZ-Ausbildungslehrgang zum Fotografen bin ich 1996 in die
    Berufswelt gestartet. Wenn man bedenkt, dass ich meine Abschlussarbeit auf
    35mm Dia und 6x6 Mittelformat Negativ abgegeben hatte, zeigt sich rasch,
    dass heute sehr vieles anders ist. Was aber immer noch stimmt ist der
    Leitsatz: "Content is king" - und dieser muss nach wie vor sorgfältig,
    nachhaltig und mit Blick aufs grosse Ganze produziert werden. Nach der
    Ausbildung arbeitete ich in Basel als Studiofotograf und im Fotolabor.
  </p>
  <div class="button-container-main">
    <a
      href="{{ url_for('static', filename='files/efz.pdf') }}"
      class="button button-primary"
      download
      >Zeugnisse Ausbildung</a
    >
  </div>
</section>

<section>
  <h2>Der Weg ins Marketing | 2003 -2013</h2>
  <p>
    2003 präsentierte sich mir die Möglichkeit bei der Neueröffnung von Media
    Markt in Basel am Bahnhof SBB mitzuwirken. Zu sehen, wie sich die riesige
    Betonhalle in einen richtig tollen Markt verwandelt, war sehr beeindruckend.
    <br />
    <br />
    Anfangs noch als stellvertretender Teamleiter in der Fotoabteilung tätig,
    wechselte ich bald ins Backoffice und übernahm als CEO- und Werbeassistent
    Aufgaben wie Plakatierung im und um den Markt, Gestaltung und Redigierung
    der Werbe-Flyer und die Gestaltung des Inhouse-Magazins "Media Scout". Als
    Kadermitglied war ich auch Teil des Personalwesens mit allen dazugehörigen
    administrativen Arbeiten. Als Assistent des Geschäftsführers wurde ich auch
    immer wieder in Events eingespannt um Konzerte (Gotthard, Adrian Sieber) und
    Ausstellungen (Ronny Wood) zu organisieren.
  </p>

  <div class="button-container-main">
    <a
      href="{{ url_for('static', filename='files/zw_zeugnisse_mediamarkt.pdf') }}"
      class="button button-primary"
      download
      >Arbeitszeugnisse</a
    >

    <a
      href="{{ url_for('static', filename='files/markom.pdf') }}"
      class="button button-primary"
      download
      >Weiterbildungen</a
    >
  </div>
</section>

<section>
  <h2>Das digitale Zeitalter | 2013 - 2019</h2>
  <p>
    2013 wechselte ich vom Media Markt Basel nach Geroldswil ins Management um
    dort mit dem e-Commerce-Team am online Auftritt der Gruppe zu arbeiten. Zu
    Beginn waren die paar wenigen Onliner noch im Velokeller eingepfercht - doch
    bald hatte die Teppichetage realisiert, dass der Onlineauftritt eventuell
    doch noch wichtig sein könnte und das Team wurde entsprechend aufgerüstet -
    und so war im Velokeller bald kein Zentimeter Platz mehr frei. Die Gruppe
    zog dann aber nach Dietikon in Grossraumbüros um.

    <br />
    <br />
    Ich war verantwortlich für den Newsletter, die Grafiken auf der Mainpage und
    - in Zusammenarbeit mit der Socialmedia-Filmcrew - für bewegten Content für
    alle Kanäle. Mit der Erstellung von einfachen Landingpages, schnupperte ich
    das erste mal am Webentwicklungskoloss. So komplex das Thema auch war, es
    hat mich gepackt und irgendwie passte das Webdesign auch zu meinem
    Werdegang.
  </p>

  <div class="button-container-main">
    <a
      href="{{ url_for('static', filename='files/abschlusszeugnis_mediamarkt.pdf') }}"
      class="button button-primary"
      download
      >Arbeitszeugnisse</a
    >

    <a
      href="{{ url_for('static', filename='files/zert_atelierdigital.pdf') }}"
      class="button button-primary"
      download
      >Weiterbildungen</a
    >
  </div>
</section>

<section>
  <h2>Neuorientierung Webdevelopment - heute</h2>
  <p>
    2019 rächte sich dann die späte Entscheidung, auf online zu setzen und die
    Media Markt Gruppe wurde mit einer grossen Entlassungsreihe konfrontiert.
    Von unserem 16-köpfigen Marketing-Team blieb kaum mehr eine Hand voll übrig.
    Somit fand für mich die 16-jährige Reise im Media Markt Land ein apruptes
    Ende. <br /><br />
    Meine früheren Gehversuche im Webdesign aufgreifend, setzte ich alles auf
    eine Karte und betrat das Reich des Codes und der Programmierung. Und voilà,
    sauber reingetappselt in das erste von ganz vielen Rabbitholes, die einen an
    der eigenen Intelligenz zweifeln lassen, weil die Themen rund um die
    Webentwicklung mit User-Experience, SEO und Seitenranking, On- und
    Offpage-Performance, etc. so komplex und überwältigend sind, dass es schon
    ein gewisses Mass an Disziplin und Freude am Problemlösen braucht um diese
    "Kaninchenbau-Talsohle" zu durchschreiten. Aber wenn alle Rädchen ineinander
    greifen und der Code sauber durchläuft und die Seite stabil dasteht, sind
    die vergangenen Strapazen vergessen.
    <br />
    <br />
    Und hier bin ich nun und habe als erstes Projekt meine Portfolioseite von
    Wordpress runter- auf mein eigenes Framework gezogen. Das Backend habe ich
    mit Python und Flask gebaut. Styling ist vanilla CSS und etwas Java Script.
  </p>

  <div class="button-container-main">
    <a
      href="{{ url_for('static', filename='files/nanodegree.pdf') }}"
      class="button button-primary"
      download
      >Zertifikat Audacity</a
    >
    <a
      href="{{ url_for('static', filename='files/cas_fhnw.pdf') }}"
      class="button button-primary"
      download
      >Zertifikat FHNW</a
    >
  </div>
</section>

<section id="my-skills">
  <h2>Meine Fähigkeiten</h2>
  <p>
    Ich würde mich als ruhig und überlegt beschreiben. Better safe than sorry.
    Lieber den Code nochmals durchgehen, lieber die Kamera nochmals prüfen, ob
    die Einstellungen noch passen. Ich arbeite exakt, ausdauernd und
    pragmatisch. Ich mag sowohl die Dynamik im Team, wie auch das selbständige
    Arbeiten im Homeoffice. <br /><br />
  </p>
  <div class="skills-section">
    <div class="skills-category">
      <h2>Kompetenzen</h2>

      <div class="skill">
        <h3>Videografie</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="95"></div>
        </div>
      </div>

      <div class="skill">
        <h3>Online Marketing</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="80"></div>
        </div>
      </div>

      <div class="skill">
        <h3>Branding</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="85"></div>
        </div>
      </div>

      <div class="skill">
        <h3>SEO/SEA</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="70"></div>
        </div>
      </div>

      <div class="skill">
        <h3>Responsive Webdesign</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="75"></div>
        </div>
      </div>
    </div>

    <div class="skills-category">
      <h2>Scripting/Projecting</h2>

      <div class="skill">
        <h3>HTML5</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="100"></div>
        </div>
      </div>

      <div class="skill">
        <h3>CSS3</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="90"></div>
        </div>
      </div>

      <div class="skill">
        <h3>Javascript</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="65"></div>
        </div>
      </div>

      <div class="skill">
        <h3>Python Django</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="75"></div>
        </div>
      </div>

      <div class="skill">
        <h3>GitHub</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="75"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="skills-section">
    <div class="skills-category">
      <h2>Software</h2>

      <div class="skill">
        <h3>Adobe Photoshop</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="90"></div>
        </div>
      </div>

      <div class="skill">
        <h3>Adobe Illustrator/Indesign</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="75"></div>
        </div>
      </div>

      <div class="skill">
        <h3>Adobe Premiere</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="80"></div>
        </div>
      </div>

      <div class="skill">
        <h3>Davinci Resolve</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="90"></div>
        </div>
      </div>

      <div class="skill">
        <h3>Microsoft Office</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="90"></div>
        </div>
      </div>
    </div>

    <div class="skills-category">
      <h2>Scripting/Projecting</h2>

      <div class="skill">
        <h3>HTML5</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="100"></div>
        </div>
      </div>

      <div class="skill">
        <h3>CSS3</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="90"></div>
        </div>
      </div>

      <div class="skill">
        <h3>Javascript</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="65"></div>
        </div>
      </div>

      <div class="skill">
        <h3>Python Django</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="75"></div>
        </div>
      </div>

      <div class="skill">
        <h3>GitHub</h3>
        <div class="skill-bar">
          <div class="skill-progress" data-skill-level="75"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonials" id="my-testimonials">
  <h2>Meine Testimonials</h2>
  <div class="testimonial-section">
    <div class="testimonial-card">
      <img
        src="{{ url_for('static', filename='img/hkf.png') }}"
        alt="Hanskaspar Frei" />
      <h3 class="name">Hanskaspar Frei</h3>
      <h4 class="job-description">Webentwickler bei Karten-Werk GmbH</h4>
      <p class="testimonial-text">
        Für mich ist es eine Ehre mit David zusammen zu arbeiten. Gemeinsam
        kreieren wir komplexe Web-Projekte und ich möchte besonders hervorheben,
        dass David bereit ist die Extrameile zu gehen. Obwohl anstrengend,
        erlaubt uns dies die Produktion von herausragenden Lösungen und
        generiert somit neue Aufträge. David hat ein hervorragendes Auge für
        Foto- und Video Content und beherrscht die Bearbeitungssoftware dazu wie
        kein Zweiter. Auch das Styling und Animationen via CSS gehört zu seinen
        Kernkompetenzen. Dabei verwendet er nicht einfach ein Framework, sondern
        produziert seine eigenen Lösungen. Dies wiederum hilft uns die
        Applikation unabhänging und somit skalierbar zu machen. Jeder
        Arbeitgeber kann sich glücklich schätzen, mit David zu arbeiten. Vielen
        Dank Dävu für alles was du bereits für mich gemacht hast! For many years
        to come...
      </p>
    </div>

    <!-- Repeat .testimonial-card for each testimonial -->
    <div class="testimonial-card">
      <img
        src="{{ url_for('static', filename='img/rv.jpg') }}"
        alt="Roland Voser" />
      <h3 class="name">Roland Voser</h3>
      <h4 class="job-description">Chief Editor bei smartmyway</h4>
      <p class="testimonial-text">
        David Schaer habe ich während vieler Jahre als sehr einsatzbereiten,
        verantwortungsbewussten und loyalen Kollegen erfahren. Mit ihm war es
        möglich, auch sehr ambitionierte Werbeprojekte zu realisieren. Sein
        gutes Auge für Stil hat ihm bei der Gestaltung vieler neuer Werbeformen
        online wie offline eindrücklich geholfen. Er hat dabei Professionalität
        und Kreativität perfekt kombiniert. Speziell erwähnen möchte ich sein
        Durchhaltevermögen: Die gemeinsamen Projekte waren alle durch grossen
        Umfang, hohen Zeitdruck und höchstem Qualitätsanspruch geprägt. David
        hat alle diese Anforderungen mit viel guter Laune in bester Manier immer
        erfolgreich gemeistert.
      </p>
    </div>

    <!-- Repeat .testimonial-card for each testimonial -->
    <div class="testimonial-card">
      <img
        src="{{ url_for('static', filename='img/cw.jpg') }}"
        alt="Christina Wiese" />
      <h3 class="name">Christina Wiese</h3>
      <h4 class="job-description">
        Online Marketing Managerin bei Ringfoto Löffler
      </h4>
      <p class="testimonial-text">
        David ist ein talentierter Designer und Photoshop ist seine rechte Hand.
        Seine kreativen Umsetzungen für Newsletter & Display brachten Millionen
        von Usern in den Online Shop, wo seine klaren und ansprechenden Teaser
        den Weg von der Zielseite zum Warenkorb wiesen. Neben seinem Auge für
        Ästhetik schätze ich besonders seine wertvollen Ideen, die offene und
        direkte Art und sein grosses Durchhaltevermögen.
      </p>
    </div>
    <!-- Repeat .testimonial-card for each testimonial -->
    <div class="testimonial-card">
      <img
        src="{{ url_for('static', filename='img/mw.jpg') }}"
        alt="Monika Widmer" />
      <h3 class="name">Monika Widmer</h3>
      <h4 class="job-description">
        E-Commerce-Specialist bei Hotelplan Suisse
      </h4>
      <p class="testimonial-text">
        David zeichnet sich durch seine Leidenschaft für die inhaltliche und
        visuelle Gestaltung von On- und Offline-Medien aus. Er kreiert Visuals,
        bearbeitet Bilder und setzt Kompositionen für Web und Print gekonnt zu
        einem grossen Ganzen zusammen. In den vielen Jahren der Zusammenarbeit
        konnte ich mich in sämtlichen Belangen immer auf David verlassen. Für
        mich ist er der beste Teamkollege, den man sich wünschen kann!
      </p>
    </div>
    <!-- Repeat .testimonial-card for each testimonial -->
  </div>

  {% endblock content %}
</section>
