{% extends 'base.html' %} {% block content %}

<h1>Eine Auswahl meiner Werke</h1>


<section id="content-projects-1">
  <h2>Videographie | hinter der Kamera</h2>
  <p>Anfangs der Nullerjahre erklärte ich die Fotografie persönlich für klinisch Tod. Ausser ein paar Nerds mit ihren Karo-Flanellhemden und den khaki-farbenen Cargoshorts wollte niemand fotografieren. Mit dem Aufkommen der Digitalkameras änderte sich zuerst auch nicht viel daran - die Qualität war dermassen miserabel. 
    <br>
    <br>
    Das änderte sich jedoch dramatisch und zwar erstaunlich schnell. Und mit der neuen digitalen Technik erhielt eine Funktion Einzug in die Fotokamera-Welt, die bis dato undenkbar erschien: Videografie. Statt Camcorder mitsamt einer ganzen Tasche voller 45 Min Tapes mitzuschleppen konnte man nun die Filme mit der Spiegelrefelxkamera drehen - ich war begeistert und shiftete so mein Skillset mehr und mehr in Richtung Cinematographie.</p>
    <br>

  <div class="card-grid">
    <div class="card">
      <div class="video-wrapper">
        <iframe
          src="https://www.youtube.com/embed/gibzYtAJLnc"
          frameborder="0"
          allowfullscreen></iframe>
      </div>
      <div class="card-content">
        <h2 class="card-title">Cinematic Teaser</h2>
        <h3 class="card-subtitle">Werbefilm für Karten-Werk GmbH</h3>
        <p class="card-text">
          Zeitlupenaufnahmen und dezente Speedramps von den Drohnenflügen geben
          einen guten Einblick in die Drohnen-Tätigkeiten von Karten-Werk
        </p>
      </div>
    </div>
    <!-- You can duplicate the .card block to add more cards -->
    <div class="card">
      <div class="video-wrapper">
        <iframe
          src="https://www.youtube.com/embed/V3tQxmbRkNA"
          frameborder="0"
          allowfullscreen></iframe>
      </div>
      <div class="card-content">
        <h2 class="card-title">Wald von Oben</h2>
        <h3 class="card-subtitle">Werbefilm für Karten-Werk</h3>
        <p class="card-text">
          Bei dem Anlass vom Forstrevier Hinwil-Wetzikon war auch Karten-Werk
          mit dabei und zeigte den zahlreichen Besuchern was die Drohne alles zu
          leisten vermag.
        </p>
      </div>
    </div>

    <!-- You can duplicate the .card block to add more cards -->
    <div class="card">
      <div class="video-wrapper">
        <iframe
          src="https://www.youtube.com/embed/_olvPgwfOWM"
          frameborder="0"
          allowfullscreen></iframe>
      </div>
      <div class="card-content">
        <h2 class="card-title">Vernissage Schär & Barbey</h2>
        <h3 class="card-subtitle">Werbefilm für schaer-art</h3>
        <p class="card-text">
          Unter dem Titel WANDLUNGEN zeigten die beiden Seeländerkünstler Daniel
          Schär und Claude Barbey ihre Werke in der Galerie Rahmenatelier von
          Pitsch Geissbühler in Zofingen.
        </p>
      </div>
    </div>

    <!-- You can duplicate the .card block to add more cards -->
    <div class="card">
      <div class="video-wrapper">
        <iframe
          src="https://www.youtube.com/embed/bmbwsPfAaw8"
          frameborder="0"
          allowfullscreen></iframe>
      </div>
      <div class="card-content">
        <h2 class="card-title">Joli Mois de Mai 2022</h2>
        <h3 class="card-subtitle">Werbefilm für schaer-art</h3>
        <p class="card-text">
          Joli Mois de Mai 2022, eine Ausstellungsplattform der Visarte
          Biel/Bienne, die das künstlerische Schaffen der Region und darüber
          hinaus feiert.
        </p>
      </div>
    </div>
    <!-- You can duplicate the .card block to add more cards -->
  </div>
</section>

<!-- vor der kamera -->
<section id="content-projects-2">
<h2>Videographie | vor der Kamera</h2>
<p>Heute kaum vorstellbar, aber solche Videobeiträge waren 2015 selten anzutreffen. Ich kann mich jedenfalls nicht erinnern, welche von den konkurrierenden Big Players gesehen zu haben. Entsprechend tappsig waren wir auch unterwegs - wir haben einfach mal gemacht. Spass gemacht hat es immer - aber die (teils unfreiwillige) Komik stand in ewigem Konflikt mit der notwendigen Seriosität für diese Art Infotainment. Mit der Auflösung unseres Marketing-Teams, verschwanden auch solche Videobeiträge aus dem Media Markt Repertoire. </p>
<br>

<!-- Page specific content -->
<div class="card-grid">
  <div class="card">
    <div class="video-wrapper">
      <iframe
        src="https://www.youtube.com/embed/ucrHTrvX2Fw"
        frameborder="0"
        allowfullscreen></iframe>
    </div>
    <div class="card-content">
      <h2 class="card-title">Braun Maserati Edition</h2>
      <h3 class="card-subtitle">Mediascout Discovery</h3>
      <p class="card-text">
        Sich im Maserati Ghibli mit einem Braun Serie 9 Rasierer zu rasieren?
        Geht! Was dabei rauskommt sieht man hier.
      </p>
    </div>
  </div>
  <!-- You can duplicate the .card block to add more cards -->
  <div class="card">
    <div class="video-wrapper">
      <iframe
        src="https://www.youtube.com/embed/Na_owqJggJI"
        frameborder="0"
        allowfullscreen></iframe>
    </div>
    <div class="card-content">
      <h2 class="card-title">UE BOOM 2 Test</h2>
      <h3 class="card-subtitle">Mediascout Discovery</h3>
      <p class="card-text">
        Wir haben die (damals neue ...) UE Boom 2 im Hallenbad auf Herz und
        Nieren getestet.
      </p>
    </div>
  </div>

  <!-- You can duplicate the .card block to add more cards -->
  <div class="card">
    <div class="video-wrapper">
      <iframe
        src="https://www.youtube.com/embed/h9tnwl5_cVQ"
        frameborder="0"
        allowfullscreen></iframe>
    </div>
    <div class="card-content">
      <h2 class="card-title">IconBIT Kato 4S</h2>
      <h3 class="card-subtitle">Mediascout Discovery</h3>
      <p class="card-text">
        2016 waren Smart Scooter der letzte Schrei. Hier verwandle ich so einen
        Scooter mit dem IconBIT in eine klein Rennflunder.
      </p>
    </div>
  </div>

  <!-- You can duplicate the .card block to add more cards -->
  <div class="card">
    <div class="video-wrapper">
      <iframe
        src="https://www.youtube.com/embed/zB1RQVOqcEY"
        frameborder="0"
        allowfullscreen></iframe>
    </div>
    <div class="card-content">
      <h2 class="card-title">PIQ Sensor Grundset Tennis</h2>
      <h3 class="card-subtitle">Mediascout Discovery</h3>
      <p class="card-text">
        Hier habe ich den Tennistrainer am Handgelenk getestet. Muskelkater
        inklusive.
      </p>
    </div>
  </div>
</section>

<section id="webdev-projects">
    <h2>Web-Projekte</h2>
    <p>Web Development ist nicht einfach. Wie ein Kollege treffend meinte: "wenn's einfach wäre, würde es jeder machen". Hat schon was. Die Lernkurve ist enorm steil und das Gebiet sehr gross mit komplexen Abhängikeiten. Deshalb bin ich froh, dass ich Web Development richtig gelernt habe, gestartet mit den Basics HTML, CSS und Javascript.  </p>

<div class="card-ref">
      <article class="recipe">
        <div class="pizza-box">
        
        <a href="https://dev.karten-werk.ch/">
        <img src="{{ url_for('static', filename='img/web_kw.webp') }}" width="1600" height="1164" alt="Web-Projekte" />
        </a>
        </div>

        <div class="recipe-content">
          <p class="recipe-tags">
            <span class="recipe-tag">Web-Projekt</span>
            
          </p>

          <h1 class="recipe-title"><a href="https://dev.karten-werk.ch/">Karten-Werk</a></h1>

          <p>Für Kartenwerk GmbH durfte ich ein aufregendes Projekt umsetzen: Das Redesign der Homepage! Die Herausforderung bestand darin, eine moderne und ansprechende Seite zu entwickeln, auf der Kunden schnell und einfach alle angebotenen Produkte einsehen und direkt buchen können. Das Backend ermöglicht es, neue Inhalte jederzeit mühelos hinzuzufügen und zu aktualisieren. Besonders stolz bin ich auf die blitzschnelle Ladezeit und nahezu perfekten Web Vitals, die durch den spezifisch für die Anwendung entwickelten Code erreicht wurden.</p>

        </div>
      </article>

     
    </div>
<div class="card-ref">
      <article class="recipe">
        <div class="pizza-box">
        
        <a href="https://dev.multimedia-werk.ch/">
        <img src="{{ url_for('static', filename='img/web_mmw.webp') }}" width="1600" height="1164" alt="Web-Projekte" />
        </a>

        </div>

        <div class="recipe-content">
          <p class="recipe-tags">
            <span class="recipe-tag">Web-Projekt</span>
            
          </p>

         <h1 class="recipe-title"><a href="https://dev.multimedia-werk.ch/">Multimedia-Werk</a></h1>


          <p>Powered by Karten-Werk. Mit dem Gerüst der für Karten-Werk gebauten Python-Django Engine, habe ich mein persönliches Projekt umgesetzt: Multimedia-Werk. Ein Schaufenster für meine Angebote, Content und Webentwicklung. </p>

        </div>
      </article>

     
    </div>









</section>


{% endblock content %}
